.post-meta {
    color: #4665b7;
    margin-bottom: 0.5rem;
    font-size: 0.7rem;
}

.pagination {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin-top: 4rem;
}