.about-head {
    margin: -90px auto 20px;
    text-align: center;
    .avatar {
        border-radius: 50%;
        width: 120px;
        margin: 5px 20px;
    }

    h3 {
        margin: 10px 0;
    }
}