header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(255, 255, 255, 0.7);
  z-index: 9;
  margin-left: auto;
  margin-right: auto;
  height: 70px;

  a {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    margin-top: 0;

    &:hover {
      color: #ddd;
    }
  }

  h1 {
    display: flex;
    margin: 10px;
    align-items: center;
  }

  img { 
    margin: 10px 0 0;
    height: 50px;
  }
  
  nav a {
    color: #ddd;
    transition: color 0.2s ease;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-size: 16px;

    &:hover {
      color: #fff;
    }

    strong {
      margin: 1px;
      color: #fff;
      font-size: 0.8rem;
    }
  }

  .activeNav {
    color: #fff;
    font-weight: 700;
  }
}

.transparent-header {
  opacity: 0.7;
}

.main-nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin-top: 30px;
  overflow: auto;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  -ms-overflow-style: none !important;

  .search {
    display: flex;
    box-sizing: border-box;
    position: relative;
    top: 5px;

    .search-box {
      width: 250px;
      font-size: 16px;
      height: 36px;
      background: #000;
      color: #fff;
      border: 1px solid #ccc;
      padding: 0 12px;
      border-radius: 4px;
      box-sizing: border-box;
    }
  
    .clear-input {
      position: absolute;
      right: 12px;
      top: 8px;
      padding: 0;
      z-index: 9;
      cursor: pointer;
      background: rgba(0,0,0,0);
      border: none;
      outline: none;
      text-indent: -500em;
      display: inline-block;
  
      span {
        display: block;
        background-image: url(/logos/ico-delete.svg);
        width: 18px;
        height: 18px;
        border: 1px solid #ccc;
        border-radius: 100%;
      }
    }
  }
  

  .search-results {
    position: absolute;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
  }

  li {
    font-size: 1.3rem;

    &+li {
      margin-left: 1.5rem;
    }
  }
}

@media (max-width: 520px) {
  nav {
    margin-top: -20px;

    ul {
      margin: 0;
    }
  }

  .main-nav {
    .search {
      .search-box {
        width: 160px;
      }
    }
  }
}
