.hero {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-align: center;
    line-height: inherit;
    color: #ddd;
    font-family: -apple-system, system-ui;
    font-size: 22px;
    font-weight: 400;
    margin: 0 80px 30px;
    
    img {
        width: 410px;
        margin: auto;
        height: 126px;
    }
    
    span {
        font-size: 10px;
        font-weight: bolder;
    }
}


@media (max-width: 520px) {
    .hero {
      margin: 0 0 30px 0;
  }
}