.article-list {
    display: grid;
    grid-template-columns: auto auto auto;

    a {
        border-bottom: 1px solid #e9eef1;
        padding: 0 20px 40px;
        margin-bottom: 20px;

        .article-box {
            display: inline-block;
            width: auto;
            
            &:hover {
                cursor: pointer;
            }
    
            .right {
                color: #3c4856;
    
                .meta {
                    margin-top: -15px;
                    margin-bottom: 20px;
                    font-size: 0.7rem;
                    color: #4665b7;
                }

                p {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .article-list {
        grid-template-columns: auto auto;
    }
}


@media (max-width: 520px) {
    .article-list {
        grid-template-columns: 100%;
    }
  }